Options -Indexes
#ErrorDocument 403 /
#ErrorDocument 404 /
ErrorDocument 403 /rankmylist/
ErrorDocument 404 /rankmylist/
# secure uploads directory
<Files ~ ".*\..*">
	Order Allow,Deny
	Deny from all
</Files>
<FilesMatch "\.(jpg|jpeg|jpe|gif|png|bmp|jpe)$">
	Order Deny,Allow
	Allow from all
</FilesMatch>